@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding-inline: 1rem;

  background: #1bb295;
}

form {
  padding: 2.5rem;

  width: 100%;
  max-width: 50rem;
  border-radius: 7px;

  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

h2 {
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 3rem;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

input,
select {
  font-family: inherit;
  font-size: 1.5rem;

  width: 100%;
  padding: 1.1rem;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  outline: none;

  background: #fff;
}

input:focus,
select:focus {
  border-color: #9a9a9a;
}

input.error,
select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

small {
  font-size: 1.4rem;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

.box {
  position: relative;
}

.password i {
  color: #939393;
  font-size: 1.4rem;

  position: absolute;
  top: 50%;
  right: 1.4rem;

  transform: translateY(-50%);

  cursor: pointer;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  font-size: inherit;
  font-weight: 500;
  text-align: center;

  padding-block: 1.3rem;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  background: #1bb295;

  transition: 0.2s ease;

  &:hover {
    background: #179b81;
  }
}
