@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #4070f4;
}

.container {
  width: 100%;
  max-width: 90rem;
  padding: 3rem;
  border-radius: 6px;
  margin-inline: 1.5rem;

  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  position: relative;
}

h2 {
  color: #333;
  font-size: 2rem;
  font-weight: 600;

  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 2.7rem;
  height: 3px;
  border-radius: 8px;

  background-color: #4070f4;
}

form {
  margin-top: 1.6rem;
  min-height: 54rem;

  background-color: #fff;

  position: relative;
  overflow: hidden;
}

.form {
  width: 100%;
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}

.form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}

.details {
  padding: 1rem 1.6rem;
  border: 1px solid #bbb;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
}

.title {
  color: #333;
  font-size: 1.6rem;
  font-weight: 500;

  margin-block: 6px;
}

.fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 8px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  color: #2e2e2e;
  font-size: 1.2rem;
  font-weight: 500;
}

input,
select {
  color: #333;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 400;

  height: 4.2rem;
  padding-inline: 1.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-block: 8px;

  outline: none;
}
input:focus,
select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

select,
input[type="date"] {
  color: #707070;
}
input[type="date"]:valid {
  color: #333;
}

button,
.backBtn {
  color: #fff;

  width: 100%;
  max-width: 200px;
  height: 45px;
  border: none;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border-radius: 5px;
  margin: 25px 0;

  cursor: pointer;
  background-color: #4070f4;

  transition: all 0.3s linear;
}

button:hover {
  background-color: #265df2;
}

.btnText {
  font-size: 14px;
  font-weight: 400;
}

.backBtn i {
  transform: rotate(180deg);
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button,
.backBtn {
  margin-right: 14px;
}

@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  .fields {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .fields {
    grid-template-columns: 1fr;
  }
}
